.Home{
    
        background-image: url(https://st3.depositphotos.com/10325396/17238/i/450/depositphotos_172385004-stock-photo-programming-code-abstract-technology-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
    
}